<h1 style="text-align:center;" class="colored-div"
[style.color]="color">{{heading}}</h1>
<button id="test" class="buttoninfo" (click)="getCustomerOne(1)">testing</button>
<br>
<br>
<br>
<div class="container">
  <div class="border">
    <button class="newCustomer" class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-user"></i>New Customer</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>FirstName</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers" >
      <!-- <div class="forTesting"> -->
      <td ><span>{{c.customerId}}</span></td>
      <td><span>{{c.email}}</span></td>
      <td><span>{{c.firstName}}</span></td>
      <td>
        <!--  -->
        <button id="view" class="btn btn-sm btn-info" (click)="openDetails(contentDetails,c)">
          <i class="fa fa-search"></i> Details</button>
        <button id="edit-details" class="btn btn-sm btn-warning" (click)="updateDetail(contentUpdate,c)">
          <i class="fa fa-edit"></i>Edit</button>
        <button id="buttonEdit" class="btn btn-sm btn-danger" (click)="onDeleteCustomer(contentDelete,c.customerId)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    <!-- </div> -->
    </tr>
    
    </tbody>
    
  </table>
  
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <div>
          <input type="email" #email="ngModel" (keyup)="duplicateCheck($event)" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" 
          name="email" ngModel placeholder="Enter Email"/>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="row">
            <small class="text-danger" *ngIf="email.errors?.['required']">Email is required</small>
            <small class="text-danger" *ngIf="email.errors?.['pattern']">Email is Invalid</small>
            
            <!-- <small class="text-danger" *ngIf="email.errors?.['notUnique']">Email Already Exist</small> -->
          </div>
          <small class="text-danger" *ngIf="customerExists">{{errorMessage}}</small>
        </div>
      </div>
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <div>
          <input id="firstName" name="firstName" class="form-control" #firstName="ngModel"  ngModel required minlength="4"  pattern="^[A-Za-z]+$" placeholder="Enter Name">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <small class="text-danger" *ngIf="firstName.errors?.['required']">Name is required</small>
            <small class="text-danger" *ngIf="firstName.errors?.['minlength']">Min 4 Characters.</small>
            <small class="text-danger" *ngIf="firstName.errors?.['pattern']">Enter valid Name</small>
          </div>
        </div>
      </div>
      <div class="border text-center">
        <button id="no-btn" data-dismiss="modal" class="btn btn-info" [disabled]="f.invalid || customerExists" >Submit</button>
        </div>
       
    </form>
  </div>
</ng-template>

<!-- view details -->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1">New Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <!-- <div *ngIf="cus"> -->
        <div class="form-group">
          <label id="details" *ngIf="currentCustomer"><strong>Id:</strong>{{currentCustomer.customerId}}</label>
          <div class="form-group">
            <label *ngIf="currentCustomer"><strong>Email: </strong> {{currentCustomer.email}}</label>
            <div class="input-group">
              <!-- <input   name="email" [(ngModel)]="currentCustomer.email" readonly>  -->
              <!-- <input id="email1" class="form-control" readonly> -->

            </div>
          </div>
          <label *ngIf="currentCustomer"><strong>First Name: </strong> {{currentCustomer.firstName}}</label>
          <div class="input-group">
            <!-- <input id="fname" class="form-control" readonly> -->
          </div>
        </div>
    <!-- </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<!-- delete the customer -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Delete Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form [formGroup]> -->
      <h5>Are you sure you want to delete this record.</h5>
    <div class="border text-center"> 
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button> 
    </div>
    <!-- </form> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<!-- edit details -->
<ng-template #contentUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title3">Update Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #customerForm="ngForm" (ngSubmit)="onSubmit1(customerForm)" novalidate>
      <div class="form-group"> 
        <label for="id"><strong>Id : </strong></label> 
        <div class="input-group"> 
           <input  *ngIf="currentCustomer" name="id" [(ngModel)]="currentCustomer.customerId" class="form-control" readonly> 
           
        </div> 
      </div>
      <div class="form-group"> 
       <label for="id"><strong>Email : </strong></label> 
       <div> 
          <input *ngIf="currentCustomer" name="emailId" [(ngModel)]="currentCustomer.email" #emailId="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control"> 
          <!-- <div *ngIf="currentCustomer.email.invalid && (emailId.dirty || emailId.touched)">
            <small class="text-danger" *ngIf="emailId.errors?.['required']">Email is required</small>
            <small class="text-danger" *ngIf="emailId.errors?.['pattern']">Email is Invalid</small>
          </div> -->
       </div> 
     </div>
      <div class="form-group">
        <label for="firstname"><strong>Firstname</strong></label>
        <br>
        <div class="input-group">
          <input *ngIf="currentCustomer" name="firstName"  [(ngModel)]="currentCustomer.firstName" class="form-control">
        </div>
      </div>
      <div class="border text-center"> 
        <!-- <button data-dismiss="modal" class="btn btn-info">Save Changes</button>  -->
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>


